@page
@model ToDoList.Pages.IndexModel

<h1>Witaj w liście TODO</h1>

<p>Liczba elementów pozosyałych do zrobienia: @Model.TodoCount. </p>

<p><a href="/list">Zobacz listę</a> lub <a href="/new">dodaj nowy element</a>.</p>
